@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Index";
}

<div class="main-holder">

    <!-- ***************** - START Video - ***************** -->
    <div class="video-wrap video_right">
        <div class="video-main">
            <div class="video-frame">
                <iframe src="http://www.youtube.com/embed/aBWi16GmnM4" title="" scrolling="no" width="572" height="312" frameborder="0" marginheight="0"></iframe>
            </div><!-- end video-frame -->
        </div><!-- end video-main -->

        <div class="video-sub">
            <h2>Convey FT Championships</h2>
            <p>Convey's championships description.</p>
            <a href="@Url.Action("List","Championship")" class="ka_button small_button small_tealgrey"><span>Championships</span></a>
            <br class="clear" />
        </div><!-- end video-sub -->
    </div><!-- end video-wrap -->
    <!-- ***************** - END Video - ***************** -->

    <div class="callout-wrap"><span>Karma doesn't lock you down to a specific homepage layout. All homepage layouts are completely customizable. The various built-in code snippets make it amazingly easy to create gorgeous layouts.</span>
    </div><!-- end callout-wrap --><br class="clear" />

</div><!-- end main-holder -->
