@{
    ViewBag.Title = "Index";
}

<div class="main-holder">

    <!-- ***************** - START Video - ***************** -->
        <div class="video-wrap video_right">
        <div class="video-main">
        <div class="video-frame">
        <iframe src="http://www.youtube.com/embed/aBWi16GmnM4" title="" scrolling="no" width="572" height="312" frameborder="0" marginheight="0"></iframe>
        </div><!-- end video-frame -->
        </div><!-- end video-main -->

        <div class="video-sub">
        <h2>Convey FT Championships</h2>
         <p>Karma is an amazingly powerful Website Template. Karma comes with 20 page templates and 20 professionally designed color variations. Combine that with the over 70 built in styled elements, easy multi columns and a super cool PHP+AJAX contact form, and this will be the only template you'll need to purchase for a long time to come.</p>
        <a href="content-code-snippets.html" class="ka_button small_button small_tealgrey"><span>100+ Built-in Code Snippets →</span></a><br class="clear" />
        </div><!-- end video-sub -->
        </div><!-- end video-wrap -->
    <!-- ***************** - END Video - ***************** -->

    <div class="callout-wrap"><span>Karma doesn't lock you down to a specific homepage layout. All homepage layouts are completely customizable. The various built-in code snippets make it amazingly easy to create gorgeous layouts.</span>
    </div><!-- end callout-wrap --><br class="clear" />

</div><!-- end main-holder -->
