@model IEnumerable<FT.Models.championship>

@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "List";
}

<table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb" id="dyntable">
    <div class="tableoptions">
        @Html.ActionLink("New", "Create", "Championship", new { @class = "ka-form-submit tablebtn" })
    </div>
    <thead>
        <tr>
            <th class="head0">
                <div class="DataTables_sort_wrapper">Name<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
            <th class="head1" style="width:150px">
                <div class="DataTables_sort_wrapper">Actions<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span></div>
            </th>
        </tr>
    </thead>

    <tbody>

    @{
        foreach (var item in Model) {
            @:<tr>
                <td>
                    @Html.ActionLink(item.Name, "Details", "Championship", new { champId=item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
                    @Html.ActionLink("Generate Matches", "GenerateMatches", new { champId=item.Id })
                </td>
            @:</tr>
        }
    }
    </tbody>
</table>
