@model FT.Models.player

@{
    ViewBag.Title = "Players";
    ViewBag.Subtitle = Model.Name;
}

<div class="main-holder home-holder">
    <div class="content_full_width">
        <div class="home-bnr-jquery">
             <div class="home-banner-main">
                <h2>@Html.Label(Model.Name)</h2>
             </div><!-- end home-banner-main -->

             <div class="home-banner-sub">
                 <div class="home-banner-sub-content">
                    <img src="@Html.Raw(Model.Image ?? "")" width="404" height="256" />
                    <div class="home-banner-bottom">&nbsp;</div>
                 </div><!-- end home-banner-sub-content -->
             </div><!-- end home-banner-sub -->
        </div><!-- end home-bnr-jquery -->
    </div><!-- end content -->
</div>
<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Player", null, new { @class = "ka-form-submit" })
    </div>
</div>
