@model FT.Models.player

@{
    ViewBag.Title = "Players";
    ViewBag.Subtitle = Model.Name;
}

<div class="content_full_width portfolio_layout">
    <div class="one_third">
        <div class="modern_portrait_img_frame_thumb modern_portrait_thumb">
            <div class="preload modern_preload_portrait_thumb">
                <img src="@Html.Raw(Model.Image ?? "")" alt="Lorem Ipsum" width="275" height="355" />
            </div><!-- end preload -->
        </div><!-- end modern_portrait_img -->
    </div>

    <div class="one_third">
        <h3>@Model.Name</h3>
        <p><em></em></p>
    </div><!-- end portfolio_one_column -->

</div>

<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Player", null, new { @class = "ka-form-submit" })
    </div>
</div>
