@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Index";
}

<div class="main-holder">

    <!-- ***************** - START Video - ***************** -->
    <div class="video-wrap video_right">
        <div class="video-main">
            <div class="video-frame">
                <iframe src="http://www.youtube.com/embed/aBWi16GmnM4" title="" scrolling="no" width="572" height="312" frameborder="0" marginheight="0"></iframe>
            </div><!-- end video-frame -->
        </div><!-- end video-main -->

        <div class="video-sub">
            <h2>Convey FT Championships</h2>
            <p>Feel the thrill of playing in one of the most challenges FT championships of the world. With more than 10 teams fighting for the heineken cup but most important, fighting for their honor!</p>
            <a href="@Url.Action("List","Championship")" class="ka_button small_button small_tealgrey"><span>Championships</span></a>
            <a href="@Url.Action("Index","Home")" class="ka_button small_button small_tealgrey"><span>Back</span></a>
            <br class="clear" />
        </div><!-- end video-sub -->
    </div><!-- end video-wrap -->
    <!-- ***************** - END Video - ***************** -->

    <div class="callout-wrap"><span>"Accept the challenges, so that you may feel the exhilaration of victory." General George S. Patton</span>
    </div><!-- end callout-wrap --><br class="clear" />

</div><!-- end main-holder -->
