@model FT.Models.championship

@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Playoffs";
}

<div style="width: 800px;">

    <div style="width: 400px; float: left;">

        <table>
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

        <br />
        <br />

        <table>
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

    </div>

    <div style="width: 400px; float: left;">

        <table>
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

    </div>

    <div style="clear: both;"></div>

</div>
