@model FT.Models.championship

@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Playoffs";
}

<div style="width: 900px;">

    <div style="width: 400px; float: left; border:1px solid red;">

        <table style="border:1px solid red;">
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

        <br />
        <br />

        <table>
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

    </div>

    <div style="background:url(../Content/themes/base/images/brackets.jpg) 0 100px no-repeat !important;"></div>

    <div style="width: 400px; float: left; border:1px solid red; margin:50px 0 0 0">

        <table style="border:1px solid red;">
                <tr><td>TEAM A</td></tr>
                <tr><td>TEAM B</td></tr>
        </table>

    </div>

    <div style="clear: both;"></div>

</div>
