@model FT.Models.championship

@{
    ViewBag.Title = "Championships";
    ViewBag.Subtitle = "Playoffs";
}

<table class="playoffs">
    <tr><td class="team">TEAM A</td></tr>
    <tr><td class="vs">VS</td><td class="team">test</td></tr>
    <tr><td class="team">TEAM B</td></tr>
    <tr><td></td><td class="vs">VS</td><td class="team">test</td></tr>
    <tr><td class="team">TEAM A</td></tr>
    <tr><td class="vs">VS</td><td class="team">test</td></tr>
    <tr><td class="team">TEAM B</td></tr>
</table>

<div style="clear: both;"></div>

<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Team", null, new { @class = "ka-form-submit" })
    </div>
</div>

