@{
    ViewBag.Title = "Index";
}

<div class="main-holder">

    <!-- ***************** - START Content - ***************** -->
    <div id="content">

        <div class="modern_img_frame modern_banner_regular">
            <div class="preload_regular">
                <div class="attachment-fadeIn"><img src="../../files.truethemes.net/themes/karma-html/premium-website-template-9.jpg" alt="HTML Template" class="medium_banner_image " width="703" height="201" />
                </div><!-- end attachment-fadeIn -->
            </div><!-- end preload_regular -->
        </div><!-- end modern_img_frame -->
 
        <div class="one_half">
            <h4>Introducing FTWeb</h4>
            <p>FTWeb, the first and only web site about the events of football tennis matches and championships of Convey Argentina.</p>
        </div><!-- end one_half -->

        <div class="one_half_last">
            <h4>Lorem Ipsum Dolor</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis sem nibh. Proin fringilla, lectus vitae vestibulum facilisis, est justo tempus orci, vel laoreet diam eros placerat elit. Pellentesque facilisis tempus velit sit amet porttitor. Proin nibh magna, porttitor accumsan malesuada non, auctor id tortor.</p>
        </div><!-- end one_half_last -->

        <br class="clear" />


    </div><!-- end content -->

    <!-- ***************** - END content - ***************** -->

    <!-- ***************** - START sub-nav - ***************** -->
    <div id="sub_nav"  class="nav_right_sub_nav">
        <ul class="sub-menu">
            <li><a class="current_page_item" href="#"><span>Home</span></a></li>
            <li><a href="#"><span>Teams</span></a></li>
            <li><a href="#"><span>Players</span></a></li>
            <li><a href="#"><span>Championships</span></a></li>
        </ul>
    </div><!-- end sub_nav -->

    <!-- ***************** - END sub-nav - ***************** -->

</div><!-- end main-holder -->
