@{
    ViewBag.Title = "JJ" + Convert.ToChar(8482);
    ViewBag.Subtitle = "About";
}

<div class="main-holder">
    <div class="content_full_width">
        <div class="video-wide-wrap">
            <div class="video-wide-main">
                <div class="video-wide-frame">
                    <iframe src="http://www.youtube.com/embed/urNPmKsAlec" title="" scrolling="no" width="911" height="504" frameborder="0" marginheight="0"></iframe>
                </div><!-- end video-wide-frame -->
            </div><!-- end video-wide-main -->
        </div><!-- end video-wide-wrap -->

        <h3>JJ - Big leagues ;)</h3>
 
        <div class="hr_shadow" /></div>
    </div>
</div>
<div class="button-wrapper submit-button-wrapper clearfix">
    <div class="button-input-wrapper submit-button-input-wrapper">
        @Html.ActionLink("Back", "Index", "Home", null, new { @class = "ka-form-submit" })
    </div>
</div>
